
<p>Id: {{ id }}</p>
<h4>{{ curriculo?.nome }}</h4>

<div>
  <div>
    <p><strong>Telefone:</strong> {{ curriculo?.telefone }}</p>
    <p><strong>Cidade:</strong> {{ curriculo?.cidade }}</p>
    <p><strong>Data de Nascimento:</strong> {{ curriculo?.nascimento | date: 'dd/MM/yyyy' }}</p>
    <p><strong>Email:</strong> {{ curriculo?.email }}</p>
    <p><strong>LinkedIn:</strong> <a [href]="curriculo?.linkedin"> linkedin</a></p>
  </div>
</div>

<div class="section">
  <h5 class="section-title">Resumo</h5>
  <div class="section-content">
    <p>{{ curriculo?.resumo }}</p>
  </div>
</div>


<div class="section">
  <h5 class="section-title">Experiências Profissionais</h5>
  <ng-container *ngIf="experienciasProfissionais && experienciasProfissionais.length > 0">
    <app-detalhe-exp-prof
      *ngFor="let experiencia of experienciasProfissionais"
      [expProfissional]="experiencia"
    ></app-detalhe-exp-prof>
  </ng-container>

  <div class="section-content" *ngIf="!(experienciasProfissionais && experienciasProfissionais.length > 0)">
    <p>Nenhuma experiência profissional encontrada.</p>
  </div>
</div>

<div class="section">
  <h5 class="section-title">Formação</h5>
  <ng-container *ngIf="experienciasAcademicas && experienciasAcademicas.length > 0">
    <app-detalhe-exp-acad
      *ngFor="let experiencia of experienciasAcademicas"
      [expAcademica]="experiencia"
    ></app-detalhe-exp-acad>
  </ng-container>

  <div class="section-content" *ngIf="!(experienciasAcademicas && experienciasAcademicas.length > 0)">
    <p>Nenhuma formação encontrada.</p>
  </div>
</div>

<button (click)="onEdit(id)">Atualizar</button>

<button  (click)="onDelete(id)">Excluir</button>
<br>

