<p>Id: {{id}}</p>
<h4>{{ cadastro?.nome }}</h4>

<div >
  <div>
    <p><strong>Telefone:</strong> (99) 99999-9999</p>
    <p><strong>Cidade:</strong> Sua Cidade</p>
    <p><strong>Data de Nascimento:</strong> DD/MM/AAAA</p>
    <p><strong>Email:</strong> seuemail@example.com</p>
    <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/seuperfil">linkedin.com/seuperfil</a></p>
  </div>
</div>

<div class="section">
  <h5 class="section-title">Resumo</h5>
  <div class="section-content">
    <p>Aqui você pode escrever um breve resumo sobre você e suas habilidades.</p>
  </div>
</div>

<div class="section">
  <h5 class="section-title">Experiências Pessoais</h5>
  <div class="section-content">
    <div class="experience">
      <h6 class="subsection-title">Cargo </h6>
      <p class="subsection-content">
        <div class="dates">
          <span class="date"><strong>Data de Início:</strong> MM/AAAA</span>
          <span class="date"><strong>Data de Fim:</strong> MM/AAAA</span>
        </div>
        <strong>Empresa:</strong> Nome da Empresa
      <p>
    </div>
  </div>
</div>

<div class="section">
  <h5 class="section-title">Formação</h5>
  <div class="section-content">
    <div class="education">
      <h6 class="subsection-title">Nome do Curso</h6>
      <p class="subsection-content">
        <strong>Data de Início:</strong> MM/AAAA<br>
        <strong>Data de Término:</strong> MM/AAAA<br>
        <strong>Escola:</strong> Nome da Escola
      </p>
    </div>
  </div>
</div>
<button> Atualizar</button>
<button> Excluir</button>
