
<div class="input-field col s12">
  <input id="nome-curso" type="text" class="validate" name="nome-curso">
  <label for="nome-curso">Nome do Curso</label>
</div>
<div class="input-field col s6">
  <input type = "date" class = "datepicker" />
  <label for="data-inicial-acad">Data de Início: </label>
</div>
<div class="input-field col s6">
  <input type = "date" class = "datepicker" />
  <label for="data-final-acad">Data de Término: </label>
</div>
<div class="input-field col s12">
  <input id="nome-inst" type="text" class="validate" name="nome-inst">
  <label for="nome-inst">Nome da Instituição</label>
</div>


