
<div class="input-field col s12" [formGroup]="formGroup">
  <input id="nomeCurso" type="text" class="validate" name="nomeCurso">
  <label for="nomeCurso">Nome do Curso</label>
</div>
<div class="input-field col s6">
  <input type = "date" class = "datepicker" />
  <label for="dataInicio">Data de Início: </label>
</div>
<div class="input-field col s6">
  <input type = "date" class = "datepicker" />
  <label for="dataFim">Data de Término: </label>
</div>
<div class="input-field col s12">
  <input id="nomeInstituicao" type="text" class="validate" name="nomeInstituicao">
  <label for="nomeInstituicao">Nome da Instituição</label>
</div>


