<div class="input-field col s12">
  <input id="cargo" type="text" class="validate" name="cargo">
  <label for="cargo">Cargo</label>
</div>
<div class="input-field col s6">
  <input type = "date" class = "datepicker" />
  <label for="data-inicial">Data de Início: MM/AAAA</label>
</div>
<div class="input-field col s6">
  <input type = "date" class = "datepicker" />
  <label for="data-final">Data de Término: MM/AAAA</label>
</div>
<div class="input-field col s12">
  <input id="nome-empresa" type="text" class="validate" name="nome-empresa">
  <label for="nome-empresa">Nome da Empresa</label>
</div>
