<div class="input-field col s12">
  <input id="nomeCargo" type="text" class="validate" name="nomeCargo">
  <label for="nomeCargo">Cargo</label>
</div>
<div class="input-field col s6">
  <input type = "date" class = "datepicker" />
  <label for="dataInicio">Data de Início: MM/AAAA</label>
</div>
<div class="input-field col s6">
  <input type = "date" class = "datepicker" />
  <label for="dataFim">Data de Término: MM/AAAA</label>
</div>
<div class="input-field col s12">
  <input id="nomeEmpresa" type="text" class="validate" name="nomeEmpresa">
  <label for="nomEmpresa">Nome da Empresa</label>
</div>
