<div class="row">
  <form class="col s12" [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class=" form-group">
      <div formGroupName="cabecalho">
        <div class="input-field col s7">
          <input id="nome-completo" type="text" class="validate" name="nome" formControlName="nome">
          <label for="nome-completo">Nome</label>
        </div>
        <div class="input-field col s3">
          <select class="browser-default" id="setor" formControlName="setor">
            <option *ngFor="let dep of departamentos | async">{{ dep.nome }}</option>
          </select>
        </div>
        <div class="input-field col s2">
          <select class="browser-default" formControlName="nivel">
            <option *ngFor="let nivel of niveis | async">{{ nivel.nome }}</option>
          </select>
        </div>

        <div class="input-field col s6">
          <input id="cidade" type="text" class="validate" formControlName="cidade">
          <label for="cidade">Cidade</label>
        </div>
        <div class="input-field col s6">
          <input id="linkedin" type="text" class="validate" formControlName="linkedin">
          <label for="linkedin">Linkedin</label>
        </div>
        <div class="input-field col s4">
          <input type="date" class="datepicker" formControlName="nascimento" />
          <label for="nascimento">Nascimento</label>
        </div>
        <div class="input-field col s4">
          <input id="telefone" type="text" class="validate" formControlName="telefone">
          <label for="telefone">Telefone</label>
        </div>

        <div class="input-field col s12">
          <input id="resumo" type="text" class="validate" formControlName="resumo">
          <label for="resumo">Resumo</label>
          <span class="helper-text" data-error="wrong" data-success="right">Aqui você pode escrever um breve resumo
            sobre
            você e suas habilidades.</span>
        </div>

      </div>


      <div class="input-field col s12 ">
        <h5>Experiência acadêmica:</h5>

        <a class="btn-floating btn-small waves-effect waves-light red " (click)="adicinonarExpAcademica()"><i
            class="material-icons">add</i></a>
        <a class="btn-floating btn-small waves-effect waves-light red" (click)="excluirExpAcademica()"><i
              class="material-icons">delete</i></a>



        <app-form-exp-acad></app-form-exp-acad>

        <div id="comp-render" *ngFor="let expAcademica of experienciasAcademicas">
          <app-form-exp-acad></app-form-exp-acad>
        </div>


      </div>

      <div class="input-field col s12">
        <h5>Experiência Profissional:</h5>
        <app-form-exp-prof></app-form-exp-prof>
      </div>

      <div class="input-field col s12">
        <input id="email" type="email" class="validate" formControlName="email">
        <label for="email" required email>Email</label>
      </div>

      <div class="input-field col s12">
        <input id="password" type="password" class="validate" formControlName="senha">
        <label for="password">Senha</label>
      </div>

      <button class="btn waves-effect waves-light col s12" type="submit" name="action">Cadastrar
        <i class="material-icons right">send</i>
      </button>
      <button class="btn waves-effect waves-light col s12" (click)="resetar()">Cancelar
        <i class="material-icons right">cancel</i>
      </button>

    </div>

    <!-- <app-debug-form [form]="formulario"></app-debug-form> -->
  </form>


</div>
