<div class="row">
  <form class="col s12" [formGroup]="formulario" (ngSubmit)="onSubmit()">


    <div class="form-group">
      <div >

        <app-input-field class="input-field col s7" id="nome" label="Nome" [control]="formulario.get('nome')"
          formControlName="nome">
        </app-input-field>

        <app-input-field class="input-field col s5" id="telefone" label="Telefone"
        [control]="formulario.get('telefone')" formControlName="telefone">
      </app-input-field>

        <app-input-field class="input-field col s6" id="cidade" label="Cidade"
          [control]="formulario.get('cidade')" formControlName="cidade">
        </app-input-field>

        <app-input-field class="input-field col s6" id="linkedin" label="Linkedin"
          [control]="formulario.get('linkedin')" formControlName="linkedin">
        </app-input-field>

        <div class="input-field col s4 valign-wrapper">
          <input type="date" class="datepicker" formControlName="nascimento" id="nascimento" />
          <label for="nascimento">Nascimento</label>
        </div>

        <div class="input-field col s4">
          <select class="browser-default" id="setor" formControlName="setor">
            <option *ngFor="let dep of departamentos | async">{{ dep.nome }}</option>
          </select>
        </div>

        <div class="input-field col s4" >
          <select class="browser-default" formControlName="senioridade">
            <option *ngFor="let nivel of niveis | async">{{ nivel.nome }}</option>
          </select>
        </div>

        <div class="input-field col s12">
          <app-input-field id="resumo" label="Resumo" [control]="formulario.get('resumo')"
            formControlName="resumo">
          </app-input-field>
          <span class="helper-text" data-error="wrong" data-success="right">Aqui você pode escrever um breve resumo
            sobre
            você e suas habilidades.
          </span>
        </div>

        <app-input-field class="input-field col s12" id="email" label="Email"
          [control]="formulario.get('email')" formControlName="email">
        </app-input-field>

      </div>


      <div class="input-field col s12 " formArrayName="experienciaAcademica">
        <h5>Experiência acadêmica:</h5>


        <a class="btn-floating btn-small waves-effect waves-light" (click)="addExpAcad()"><i
            class="material-icons">add</i></a>

        <ng-container *ngFor="let experienciaAcademicaForm of experienciaAcademica.controls; let i = index">

          <div [formGroupName]="i">
            <div class="input-field col s12">
              <input id="nomeCurso" type="text" class="validate" name="nomeCurso" formControlName="nomeCurso">
              <label for="nomeCurso">Nome do Curso</label>
            </div>
            <div class="input-field col s6">
              <input type="date" class="datepicker" formControlName="dataInicio" />
              <label for="dataInicio">Data de Início: </label>
            </div>
            <div class="input-field col s6">
              <input type="date" class="datepicker" formControlName="dataFim" />
              <label for="dataFim">Data de Término: </label>
            </div>
            <div class="input-field col s12">
              <input id="nomeInstituicao" type="text" class="validate" name="nomeInstituicao"
                formControlName="nomeInstituicao">
              <label for="nomeInstituicao">Nome da Instituição</label>
            </div>
            <a class="btn-floating btn-small waves-effect waves-light red" (click)="excluirExpAcademica(i)"><i
                class="material-icons">delete</i></a>
          </div>

        </ng-container>

      </div>

      <div class="input-field col s12" formArrayName="experienciaProfissional">
        <h5>Experiência Profissional:</h5>

        <a class="btn-floating btn-small waves-effect waves-light" (click)="addExpProf()"><i
          class="material-icons">add</i></a>

        <ng-container *ngFor="let experienciaProfissionalForm of experienciaProfissional.controls; let i = index">

          <div [formGroupName]="i">

            <div class="input-field col s12">
              <input id="nomeCargo" type="text" class="validate" name="nomeCargo" formControlName="nomeCargo">
              <label for="nomeCargo">Cargo</label>
            </div>
            <div class="input-field col s6">
              <input type="date" class="datepicker" formControlName="dataInicio"/>
              <label for="dataInicio">Data de Início: MM/AAAA</label>
            </div>
            <div class="input-field col s6">
              <input type="date" class="datepicker" formControlName="dataFim" />
              <label for="dataFim">Data de Término: MM/AAAA</label>
            </div>
            <div class="input-field col s12">
              <input id="nomeEmpresa" type="text" class="validate" name="nomeEmpresa" formControlName="nomeEmpresa">
              <label for="nomEmpresa">Nome da Empresa</label>
            </div>

            <a class="btn-floating btn-small waves-effect waves-light deep-orange red" (click)="excluirExpProfissional(i)"><i
              class="material-icons">delete</i></a>

          </div>

        </ng-container>

      </div>


      <div class="row">
        <div class="col s6">
          <button class="btn waves-effect waves-light indigo darken-1" type="submit">Cadastrar
            <i class="material-icons right">send</i>
          </button>
        </div>
        <div class="col s6 right-align">
          <button class="btn waves-effect waves-light  orange lighten-1" (click)="resetar()">Limpar Formulário
            <i class="material-icons right">cancel</i>
          </button>
        </div>
      </div>

    </div>

  </form>


</div>
