<div class="row">
  <form class="col s12" [formGroup]="formulario" (ngSubmit)="onSubmit()">


    <div class="form-group">
      <div formGroupName="cabecalho">

        <app-input-field class="input-field col s7" id="nome" label="Nome" [control]="formulario.get('cabecalho.nome')"
          formControlName="nome">
        </app-input-field>

        <app-input-field class="input-field col s3" formControlName="setor" id="setor" label="Setor"
          [control]="formulario.get('cabecalho.setor')">
        </app-input-field>

        <app-input-field class="input-field col s2" id="senioridade" label="Senioridade"
          [control]="formulario.get('cabecalho.senioridade')" formControlName="senioridade">
        </app-input-field>

        <app-input-field class="input-field col s6" id="cidade" label="Cidade"
          [control]="formulario.get('cabecalho.cidade')" formControlName="cidade">
        </app-input-field>

        <app-input-field class="input-field col s6" id="linkedin" label="Linkedin"
          [control]="formulario.get('cabecalho.linkedin')" formControlName="linkedin">
        </app-input-field>

        <div class="input-field col s4">
          <input type="date" class="datepicker" formControlName="nascimento" />
          <label for="nascimento">Nascimento</label>
        </div>

        <app-input-field class="input-field col s4" id="telefone" label="Telefone"
          [control]="formulario.get('cabecalho.telefone')" formControlName="telefone">
        </app-input-field>

        <div class="input-field col s12">
          <app-input-field id="resumo" label="Resumo" [control]="formulario.get('cabecalho.resumo')"
            formControlName="resumo">
          </app-input-field>
          <span class="helper-text" data-error="wrong" data-success="right">Aqui você pode escrever um breve resumo
            sobre
            você e suas habilidades.
          </span>
        </div>

        <app-input-field class="input-field col s12" id="email" label="Email"
          [control]="formulario.get('cabecalho.email')" formControlName="email">
        </app-input-field>

      </div>


      <div class="input-field col s12 " formArrayName="formacao">
        <h5>Experiência acadêmica:</h5>


        <a class="btn-floating btn-small waves-effect waves-light red " (click)="addExpAcad()"><i
            class="material-icons">add</i></a>

        <ng-container *ngFor="let formacaoForm of formacao.controls; let i = index">

          <div [formGroupName]="i">
            <div class="input-field col s12">
              <input id="nomeCurso" type="text" class="validate" name="nomeCurso" formControlName="nomeCurso">
              <label for="nomeCurso">Nome do Curso</label>
            </div>
            <div class="input-field col s6">
              <input type="date" class="datepicker" formControlName="dataInicio" />
              <label for="dataInicio">Data de Início: </label>
            </div>
            <div class="input-field col s6">
              <input type="date" class="datepicker" formControlName="dataFim" />
              <label for="dataFim">Data de Término: </label>
            </div>
            <div class="input-field col s12">
              <input id="nomeInstituicao" type="text" class="validate" name="nomeInstituicao"
                formControlName="nomeInstituicao">
              <label for="nomeInstituicao">Nome da Instituição</label>
            </div>
            <a class="btn-floating btn-small waves-effect waves-light red" (click)="excluirExpAcademica(i)"><i
                class="material-icons">delete</i></a>
          </div>

        </ng-container>

      </div>

      <div class="input-field col s12" formArrayName="experienciaProf">
        <h5>Experiência Profissional:</h5>

        <a class="btn-floating btn-small waves-effect waves-light red " (click)="addExpProf()"><i
          class="material-icons">add</i></a>

        <ng-container *ngFor="let formacaoProfForm of experienciaProf.controls; let i = index">

          <div [formGroupName]="i">

            <div class="input-field col s12">
              <input id="nomeCargo" type="text" class="validate" name="nomeCargo" formControlName="nomeCargo">
              <label for="nomeCargo">Cargo</label>
            </div>
            <div class="input-field col s6">
              <input type="date" class="datepicker" formControlName="dataInicio"/>
              <label for="dataInicio">Data de Início: MM/AAAA</label>
            </div>
            <div class="input-field col s6">
              <input type="date" class="datepicker" formControlName="dataFim" />
              <label for="dataFim">Data de Término: MM/AAAA</label>
            </div>
            <div class="input-field col s12">
              <input id="nomeEmpresa" type="text" class="validate" name="nomeEmpresa" formControlName="nomeEmpresa">
              <label for="nomEmpresa">Nome da Empresa</label>
            </div>

            <a class="btn-floating btn-small waves-effect waves-light red" (click)="excluirExpProfissional(i)"><i
              class="material-icons">delete</i></a>

          </div>

        </ng-container>

      </div>


      <button class="btn waves-effect waves-light col s4" type="submit">Cadastrar
        <i class="material-icons right">send</i>
      </button>

      <button class="btn waves-effect waves-light col s4" (click)="resetar()">Cancelar
        <i class="material-icons right">cancel</i>
      </button>

    </div>

  </form>


</div>
