<div class="row">
  <div class="col s12">
    <p>Lista de Cadastros:</p>



    <div class="collection" *ngIf="cadastros$ | async as cadastros; else loading">

      <a class="collection-item" *ngFor="let cadastro of cadastros" [routerLink]="['/cadastros', cadastro._id]">
        {{ cadastro.nome }} <br>
        <span class="grey-text text-darken-4">{{cadastro.setor}} <strong>{{cadastro.senioridade}}</strong> </span>

      </a>
    </div>

    <ng-template #loading>
      <div *ngIf="error$ | async; else loadingNoError">
        Erro ao carregar cadastros.
      </div>
      <ng-template #loadingNoError>
        <span>
          <div class="progress">
            <div class="indeterminate"></div>
          </div>
        </span>
      </ng-template>

    </ng-template>


    <p>Página: {{ pagina }}</p>
    <button (click)="proximaPagina()"> Prox Página</button>

    <button (click)="novoCadastro()"> Adicionar </button>


  </div>
</div>
